.hide{
    display: none;
}
.show{
    display:block;
}

h1{
    color: white;

}


p{

    font-size: 125%;
    font-family:"Century Schoolbook";
    padding: 0px 35px 0px;
}

#archives{
    font-size: 115%;
    font-family: century;

}

td{
    font-family:"Century Schoolbook";
}

header{
    text-align: left;
    font-size: 125%;
    font-family:"Century Schoolbook";
    padding: 0px 35px 0px;
}

.menu{
    list-style: none;
    padding: 0;
    margin: auto;
}

.menu li a{
    color: white;
    padding: 0px 35px 0px;
    text-decoration: none;
    font-size: 145%;

}

.menu li{
    display: inline-block;
    text-align: center;
}


@media only screen and (min-width: 280px) {
    #img-info{
        padding: 0px 20px 0px;
        width: 125px;
        height: 37.75px;
    }
    
    #heisenburg{
        padding: 0px 20px 0px;
        width: 125px;
        height: 37.75px;
    }

    
    p{
        font-size: 75%;
    }


}

@media only screen and (min-width: 360px) {
    #img-info{
        padding: 0px 20px 0px;
        width: 200px;
        height: 50px;
    }

    #heisenburg{
        padding: 0px 20px 0px;
        width: 200px;
        height: 50px;
    }

    
    p{

        font-size: 125%;
        font-family:"Century Schoolbook";
    }


}


@media only screen and (min-width: 375px) {
    #img-info{
        padding: 0px 20px 0px;
        width: 250px;
        height: 75.5px;
    }
    
    #heisenburg{
        padding: 0px 20px 0px;
        width: 250px;
        height: 75.5px;
    }

    p{

        font-size: 125%;
        font-family:"Century Schoolbook";
    }

}

@media only screen and (min-width: 768px) {
    #img-info{
        padding: 0px 0px 0px;
        width: 500px;
        height: 151px;
    }

    #heisenburg{
        padding: 0px 0px 0px;
        width: 500px;
        height: 151px;
    }

    p{

        font-size: 175%;
        font-family:"Century Schoolbook";
    }

}




